<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,308},{22,8}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,54},{22,8}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,269},{130,48}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{130,48}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,269},{136,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{136,50}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,112},{144,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{144,52}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,58},{148,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,61},{148,54}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,0},{154,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,59},{154,58}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,224},{160,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,60},{160,58}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,164},{166,60}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,98},{166,60}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,161},{170,62}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,97},{170,62}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire18.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,231},{176,64}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,96},{176,64}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire19.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,165},{180,66}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,95},{180,66}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,295},{36,14}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{36,14}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire20.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,165},{182,66}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,96},{182,66}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,224},{106,52}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{106,52}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire22.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,165},{146,104}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{146,104}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire23.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,165},{151,143}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{151,143}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire24.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,165},{159,149}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{159,149}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire25.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,165},{163,151}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{163,151}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,163},{165,157}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{165,157}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,0},{167,161}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{167,161}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,0},{167,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{167,161}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,0},{169,163}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,163}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,295},{48,18}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{48,18}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,0},{170,163}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,163}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>fire31.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,0},{171,165}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{171,165}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire32.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{171,165}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{171,165}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire33.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{171,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{171,165}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,165}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{171,165}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire35.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,0},{167,165}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{167,165}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire36.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{167,165}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{167,165}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,0},{165,163}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{165,163}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,163},{165,157}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{165,157}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,163},{137,157}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{137,157}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,263},{62,22}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,47},{62,22}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{137,155}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{137,155}}</string>
                <key>sourceSize</key>
                <string>{185,167}</string>
            </dict>
            <key>fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,161},{74,28}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,44},{74,28}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,231},{86,32}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{86,32}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,231},{98,36}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,65},{98,36}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,224},{110,40}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{110,40}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
            <key>fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,276},{120,44}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,62},{120,44}}</string>
                <key>sourceSize</key>
                <string>{188,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire2.png</string>
            <key>size</key>
            <string>{2010,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9074249248f58f3ad01800ea4f932cb5:ec93e4c06ae345e814dcfef18ebc5a13:a08a639c8cf72ee0d201ed5c90d826a2$</string>
            <key>textureFileName</key>
            <string>fire2.png</string>
        </dict>
    </dict>
</plist>
