<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{114,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,121}}</string>
                <key>sourceSize</key>
                <string>{114,121}</string>
            </dict>
            <key>fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{184,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,186}}</string>
                <key>sourceSize</key>
                <string>{184,186}</string>
            </dict>
            <key>fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{177,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,188}}</string>
                <key>sourceSize</key>
                <string>{177,188}</string>
            </dict>
            <key>fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{172,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,185}}</string>
                <key>sourceSize</key>
                <string>{172,185}</string>
            </dict>
            <key>fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{157,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,182}}</string>
                <key>sourceSize</key>
                <string>{157,182}</string>
            </dict>
            <key>fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,180},{158,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,179}}</string>
                <key>sourceSize</key>
                <string>{158,179}</string>
            </dict>
            <key>fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,173},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,359},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,367},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,363},{140,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,149}}</string>
                <key>sourceSize</key>
                <string>{140,149}</string>
            </dict>
            <key>fire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,353},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,0},{137,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,155}}</string>
                <key>sourceSize</key>
                <string>{137,155}</string>
            </dict>
            <key>fire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,359},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{142,150}</string>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,346},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{168,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,177}}</string>
                <key>sourceSize</key>
                <string>{168,177}</string>
            </dict>
            <key>fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,185},{171,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,182}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{170,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,180}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,177},{172,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,176}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{179,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,173}}</string>
                <key>sourceSize</key>
                <string>{179,173}</string>
            </dict>
            <key>fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,182},{185,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,181}}</string>
                <key>sourceSize</key>
                <string>{185,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{1160,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4399f60871d213eea5cf6075320c940:fa2a27aa0879844233e46d9ca4d37be2:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
