<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,132},{36,56}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,134},{36,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{70,132}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,16},{70,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{68,100}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,102},{68,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{88,126}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{88,126}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{108,172}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,46},{108,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,190}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,25},{128,190}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{134,176}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{134,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{134,180}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{134,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{124,170}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,14},{124,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{100,162}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,6},{100,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_1.png</string>
            <key>size</key>
            <string>{954,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e6b0513a7ae648d53de119f44475477:90dcf25cc51daee3a7af2b9dae0d33cc:1f15788c0bf0ef0805ab42e6e9a6dd76$</string>
            <key>textureFileName</key>
            <string>attack_1.png</string>
        </dict>
    </dict>
</plist>
