<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,188},{24,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,112},{24,24}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{198,188}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{198,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,0},{190,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{190,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{206,206}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{206,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{208,208}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{208,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,224}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{182,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,108},{204,106}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,62},{204,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{40,40}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,106},{40,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,40},{46,46}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,101},{46,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,132},{68,70}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,91},{68,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,132},{82,86}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{82,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,0},{96,100}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{96,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,0},{114,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{114,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,0},{138,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{138,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{198,188}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{198,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_6.png</string>
            <key>size</key>
            <string>{1576,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f13e23017e47fc4687364a0025b63ad3:2391da865078f868f82cc48bf3aeb626:e04878e34535637510308176e8438bc0$</string>
            <key>textureFileName</key>
            <string>attack_6.png</string>
        </dict>
    </dict>
</plist>
