<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,154},{112,112}}</string>
                <key>offset</key>
                <string>{60,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,4},{112,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,290},{124,124}}</string>
                <key>offset</key>
                <string>{41,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,16},{124,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{136,136}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,28},{136,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{148,148}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{148,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{160,160}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,53},{160,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,172}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,65},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{154,154}}</string>
                <key>offset</key>
                <string>{-42,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,84},{154,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,290},{132,132}}</string>
                <key>offset</key>
                <string>{-50,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,103},{132,132}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{64,90}}</string>
                <key>offset</key>
                <string>{-46,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,119},{64,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_2.png</string>
            <key>size</key>
            <string>{420,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88429d1caefd05ca1f9b7a0d37fd382d:1245e02810e007ae7eb23fa3a5e7f18e:40fcd70bd7fe43bd302d1968e478e19b$</string>
            <key>textureFileName</key>
            <string>attack_2.png</string>
        </dict>
    </dict>
</plist>
