<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,128},{30,98}}</string>
                <key>offset</key>
                <string>{-2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{30,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,0},{40,212}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,16},{40,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{40,128}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{40,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,0},{46,162}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,71},{46,162}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{170,216}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{170,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,226}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{230,226}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{230,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{178,220}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{178,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{110,222}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,13},{110,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>attack_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{34,220}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,14},{34,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_4.png</string>
            <key>size</key>
            <string>{1078,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90387aa230fdbff91021b3b766b336d0:219ff23dc084a14b10267009d6ef24c5:de61681ae5b21404478ed8b65d61778c$</string>
            <key>textureFileName</key>
            <string>attack_4.png</string>
        </dict>
    </dict>
</plist>
